.postBy{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border: 2px solid black;     
    padding: 8px;
    background-color: rgb(96, 238, 202);
    margin: 2px;
    gap: 5px;
    margin-top: 20px;
}